@media screen and (max-width: 1001px) {
    .Choice{
        display: none;
    }
    .right-btn{
        width: 100%;
        padding: 0px 24px;
        text-align: center;
    }
    .rightBtn, .gray{
        width: 100%;
    }
    .left-btn{
        width: 100%;
        padding: 0px 24px;
    }
    .leftBtn {
        width: 100%;
    }
}
@media screen and (min-width: 1002px) {
    .right-btn{
        width: 240px;
    }
    .rightBtn{
        width: 100px;
    }
    .left-btn{
        width: 240px;
    }
    .leftBtn {
        width: 100px;
    }
}
.left-btn{
    border-right: 1px solid white;
    text-align: center;
}
.leftBtn {
    background: #12BBF5;
    cursor: pointer;
    margin: auto;
    border-radius: 20px;
    height: 100%;
}

@media screen and (max-width: 1415px) {
    .bookInfoContainer {
        width: 100%;
    }
}
@media screen and (min-width: 1416px) {
    .bookInfoContainer {
        width: calc(100% - 250px);
    }
}


.bookInfoContainer {
    position: fixed;
    clear: both;
    margin-top: 2px;
    background-color: #17202a;
    height: 137px;
    background: #ff9201;
    bottom: 0px;
    z-index: 1;
    transition: 0.4s
}


.Choice {
    line-height: 90px;
    text-align: center;
    margin: auto 0;
    height: 100%;
    font-size: 25px;
    border-right: 1px solid white;
    width: 240px;
}
.choicePh {
    color: white;
}

.bookInfo {
    position: relative;
    padding-top: 20px;
    /* width:  1100px; */
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
    .mv {
        /* margin-left: 0px; */
    }
        .movieSelected {
            font-size: 18px;
            color: white;
            /* width: 190px; */
            white-space: nowrap;
            overflow: hidden;
        }
    .se {
        /* margin-left: 440px; */
        color: #ededed;
        }
    .pay {
        /* margin-left: 660px; */
    }

.th {
    /* margin-left: 220px; */
    color: #ededed;
}
    .theaterInfo {
        position: relative;
        margin-top: 5px;
        width: 100%;
    }
        .seatInfo{
            position: relative;
            display: flex;
        }
        .row {
            line-height: 20px;
            height: 22px;
            font-size: 15px;
            text-align: left;
            color: white;
            padding-left: 8px;
        }
        .seat-info-row{
            font-size: 15px;
            color: white;
            padding-left: 8px;
        }
        .pay-info-row{
            height: 45px;
            line-height: 45px;
            font-size: 15px;
            color: white;
            display: flex;
            justify-content: space-between;      
            margin: 0px 8px;      
        }
            .content {
                position: absolute;
                float: left;
                margin-left: 10px;
                line-height: 20px;
                font-size: 15px;
                color: white;
                white-space: nowrap;
                overflow: hidden;
                width: 140px;
            }
            .content-time {
                margin-left: 85px;
            }
            .content-seat {
                width: 60px;
                float: left;
                text-align: left;
            }  
.theater-line{
    display: flex;
    width: 100%;
}
.theater-content{
    /* position: absolute; */
    /* float: left; */
    margin-left: 10px;
    line-height: 20px;
    font-size: 15px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    width: 75%;
}
.rightBtn {
    cursor: pointer;
    margin: auto;
    border-radius: 20px;
    height: 100px;
    text-align: center;
}
.rightBtn3 {
    cursor: pointer;
    border-radius: 20px;
    margin: auto;
    height: 100px;
    /* position: absolute; */
    /* margin-left: 659px; */
    /* margin-top: 15px; */
    /* width: 200px; */
  }

.price {
    font-weight: bold;
}

.seatSelectedContainer {
    /* margin-left: 10px; */
    display: flex;
    flex-wrap : wrap;
}


.content-layer {
    margin-left: 40px;
}

.eachSeat {
    height: 20px;
}


