.pay-container {
    position: relative;
    float: left;
    background-color: #fffaf0;
    min-height: 630px;
    width: 1000px;
    margin: 0 auto;
    border: 1px solid #ebedef;
}
.pay-method {
    position: relative;
    float: left;
}
.pay-step {
    margin-top: 5px;
    margin-bottom: 30px;
}
.pay-titlebar {
    width: 700px;
    height: 35px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #e0e0e0;
    background-color: #333333;
}
.pay-titlebar > span {
    margin-left: 12px;
}
.pay-titlebar > .again {
    cursor: pointer;
    font-size: 14px;
    margin-left: 540px;
}
.refresh-icon2 {
    position: absolute;
    margin-top: 5px;
    margin-left: 2px;
    font-size: 20px;
}
.pay-header {
    cursor: pointer;
    width: 700px;
    height: 40px;
    line-height: 35px;
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    background-color: #dfded6;
}
.pay-header > span {
    margin-left: 12px;
}
.down-icon {
    position: relative;
    float: right;
    margin-top: 8px;
    margin-right: 5px;
    font-size: 23px;
}
.pay-body {
    width: 697px;
    height: 300px;
    border: 2px solid #e8e7e1;
}
.select-discount {
    position: relative;
    float: left;
    width: 180px;
    height: 300px;
    border-right: 2px solid #e8e7e1;
}
.discount-item {
    padding: 3px;
    cursor: pointer;
    border-bottom: 2px solid #e8e7e1;
    height: 25px;
    color: 333333;
    line-height: 27px;
    font-size: 12px;
}
.right-icon {
    position: relative;
    margin-top: 5px;
    float: right;
    color: #e8e7e1;
}
.select-form {
    position: relative;
    float: left;
}
.discount-list-header {
    position: relative;
    border-bottom: 2px solid #e8e7e1;
    padding-bottom: 5px;
    font-size: 11px;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}
.discount-list-header > .col1 {
    margin-left: 5px;
    display: inline-block;
    width: 300px;
}
.discount-list-header > .col2 {
    display: inline-block;
    width: 150px;
}
.discount-list-body {
    position: relative;
    margin-left: 20px;
    font-size: 15px;
}
.coupone-item {
    position: relative;
}
  
.coupone-item > .col1 {
    margin-right: 205px;
}
.result-form {
    position: relative;
    margin-left: 280px;
    margin-top: 150px;
}
.coupon-applyButton {
    cursor: pointer;
    color: white;
    border: 1px solid #bd8f62;
    border-radius: 5px;
    background-color: #bd8f62;
}
.NoCoupon {
    margin-top: 100px;
    margin-left: 120px;
}
.pay-titlebar > .col1 {
    font-size: 15px;
}
.pay-body2 {
    width: 697px;
    height: 180px;
    border: 2px solid #e8e7e1;
}
.couponSelected {
    background-color: #fdfdf8;
    border: 3px solid #333333;
}
.giftCard {
    margin-top: 30px;
    font-size: 14px;
}
.giftCard > .col1 {
    margin-left: 20px;
    margin-right: 10px;
}
.giftCard > .col2 {
    margin-right: 10px;
    color: #b30404;
    font-weight: bold;
}
.giftCard > .col3 {
    margin-right: 10px;
}
.giftCard > .col4 {
    margin-left: 5px;
}
.giftCard > .col5 {
    margin-left: 40px;
}
.pay-way {
    height: 35px;
    border-bottom: 2px solid #e8e7e1;
}
.payresult {
    padding-top: 20px;
    margin-left: 40px;
    height: 380px;
    width: 220px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px #888888;
    float: left;
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
.priceToPayContainer {
    margin-left: 10px;
    margin-bottom: 50px;
    border: 2px solid #333333;
    width: 200px;
    height: 80px;
    border-radius: 5px;
}
.priceToPayHead {
    color: #333333;
    height: 50%;
    font-size: 17px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}
.priceToPayBody {
    height: 50%;
    text-align: right;
    line-height: 40px;
    background-color: #333333;
    color: #fdf8f8;
}
.col10 {
    font-size: 25px;
    font-weight: bold;
}
