@media screen and (min-width: 1002px){
    .seat-info {
        flex-direction: row;
    }
    .seat-time-row {
        flex-direction: row;
    }
}
@media screen and (max-width: 1001px){
    .seat-info {
        flex-direction: column;
    }
    .seat-time-row {
        flex-direction: column;
    }
}
.seat-info {
    background-color: white;
    box-shadow: 0px 2px #bdbdbd;
    width: 100%;
    display: flex;
}
.seat-header {
    border-radius: 8px 8px 0 0;
    position: relative;
    height: 35px;
    width: 100%;
    background-color: #006DFE;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: bold;
    line-height: 32px;
}
.refresh {
    cursor: pointer;
    color: white;
    float: right;
    width: 100px;
}
.refresh-title {
    position: relative;
    margin-left: 10px;
    float: left;
    font-size: 13px;
}
.refresh-icon {
    position: absolute;
    margin-top: 6px;
    position: relative;
    font-size: 20px;
    color: white;
}
.seat-row {
    margin: 8px 18px 0px 18px;
    /* margin-bottom: 5px; */
    clear: both;
    display: flex;
    justify-content: center;
}

.seat-row-title {
    color: #706e66;
    line-height: 25px;
    font-size: 13px;
    width: 35px;
}
.adult-person {
    /* margin-left: 50px; */
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.adult-person > li {
    width: 23px;
    height: 23px;
    margin: 0px 8px 8px 0px;
}
.person-btn {
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid #cdcac5;
}
.select2 {
    background-color: #4a3913;
    color: #e5e3d4;
}
.seat-time {
    width: 100%;
    margin: 14px 14px 14px 14px;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    align-content: center;
}
.seat-person {
    width: 100%;
    border-right: 1px solid #cccccc;
    
}
.seat-time-row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.seat-time-content {
    padding-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
}
.thea {
    /* border-right: 1px solid #cccccc; */
    /* width: 100%; */
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}
.scr {
    /* border-right: 1px solid #cccccc; */
    /* width: 130px; */
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}
.seat-time-time {
    position: relative;
    float: left;
    padding-left: 10px;
    font-size: 22px;
    font-weight: bold;
    width: 135px;
}

.step2 {
    background-color: #fffaf0;
    border: 1px solid #ebedef;
    margin: 0px 24px 137px 24px;
    height: 100%;
}

.seat-main {
    display: flex;
    /* width: auto; */
    margin-top: 20px;
    margin: 20px 20px 20px 20px;
}
    .seat-screen {
        margin: auto;
        flex: 1;
    }
        .screen-img {}
        .opening-container {
            display:flex;
            flex-direction: column;
            margin: 84px auto;
        }
            .opening-row {
                clear: both;
                margin: auto;
                display: flex;
            }
                .opening-row-name {
                    margin-right: 10px;
                    width: 15px;
                    float: left;
                }
                .opening-seat {
                    display: flex;
                }
    .legend {
        /* flex: 1; */
    }
        .legend-content {
        }
            .legend-row {
                height: 35px;
                display: flex;
            }


.screen-img {
    background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 3px,
    #ccc 8px,
    #ccc 5px
    );
    margin: auto;
    width: 50%;
    min-width: 145px;
    /* height: 25px; */
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.seat-icon-title {
    color: #706e66;
    font-size: 14px;
    line-height: 24px;
    margin-top: 1px;
    margin-left: 10px;
}
.seat-icon-selected {
    position: relative;
    /* float: left; */
    margin-top: 5px;
    color: #c0392b;
}
.seat-icon-selectable {
    position: relative;
    float: left;
    margin-top: 5px;
    color: #566573;
}
.seat-icon-booked {
    opacity: 0.6;
    position: relative;
    float: left;
    margin-top: 5px;
    color: #808b96;
}

.opening-item {
    border-bottom: 3px solid white;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    margin-right: 2px;
    width: 18px;
    height: 18px;
    color: white;
    background-color: #566573;
}
.opening-item:hover {
    background-color: #c0392b;
}
.seatSelected {
    background-color: #c0392b;
    pointer-events: none;
}

