@import url(https://fonts.googleapis.com/css?family=Roboto:400);

@media screen and (max-width: 1001px) {
  .step1{
      display: flex;
      flex-direction: column;
      margin-bottom: 137px;
  }
}
@media screen and (min-width: 1002px) {
  .step1{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
}
.bookingContainer {
  margin-left: 250px;
  max-width: 3000px;
  padding-top: 90px;
  transition: 0.4s;
}
@media screen and (max-width: 1415px) {
  .bookingContainer {
    margin-left: 0px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #222;
  background-color: #f6f1e7;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.asd {
  width: 360px;
  height: 45px;
}

.transShow {
  max-height: 500px;
  transition: max-height 0.2s ease-in;
}
.transHide {
  max-height: 0;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  background: #d5d5d5;
}
.show {
  display: block;
}
.hide {
  display: none !important;
}

.selected {
  background-color: #666;
  font-weight: bold;
  color: whitesmoke;
}
.notClick {
  pointer-events: none;
}
.blur {
  opacity: 0.5;
  pointer-events: none;
}

.blur2 {
  opacity: 0.5;
}

.loading {
  position: relative;
  left: 50%;
  top: 270px;
  width: 50px;
  height: 50px;
  z-index: 1;
}
.regionSelected {
  background-color: #666;
  color: white;
}
.red {
  /* background-color: #c0392b; */
  background: #ED440A;
}

.red-font {
  color: #c0392b;
}

.blue-font {
  color: #1b50ff;
}

.gray {
  /* background-color: rgb(255, 89, 70); */
  background: #ffb34f;
}

.booking-container {
  position: relative;
  margin: auto;
  /* --margin-left: 5px; */
  /* width: 1100px; */


  z-index: 1;
  width: 100%;
}

.step1 {

  overflow: hidden;
  margin: 0px 24px;

}



.age2 {
  display: inline-block;
  text-align: center;
  line-height: 22px;
  width: 20px;
  height: 20px;
  font-size: 16px;
  margin-right: 8px;
  background-color: darkorange;
  color: white;
  border-radius: 10px;
}
.timeItem {
  overflow: hidden;
  padding-top: 7px;
  padding-bottom: 7px;
  border-top: 2px solid #abb2b9;
  margin-left: 20px;
  margin-right: 20px;
}

.dimension {
  margin-right: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #e74c3c;
}

.screen {
  margin-right: 3px;
  font-size: 12px;
  font-weight: 600;
}

.layer {
  margin-right: 3px;
  font-size: 12px;
  font-weight: 600;
}

.totalSeat {
  font-size: 11px;
  color: #566573;
}

.timeItem .time {
  position: relative;
  float: left;
  width: 40px;
  text-align: center;
  height: 20px;
  border: 1px solid #abb2b9;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

.sellout {
  color: #ff0000;
}

.sellout2 {
  text-decoration: line-through;
  opacity: 0.5;
}
.rightArrow {
  font-size: 50px;
  color: #fbfcfc;
  margin-top: 10px;
}
.check {
  position: relative;
  font-size: 50px;
  color: #fbfcfc;
  margin-top: 10px;
}
.rightBtn-title {
  position: relative;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #fbfcfc;
}
.notAvail {
  background-color: #abb2b9;
  pointer-events: none;
}
.pointApplyButton {
  cursor: pointer;
  color: white;
  border: 1px solid #bd8f62;
  border-radius: 8px;
  background-color: #bd8f62;
}
.label {
  line-height: 33px;
  font-size: 16px;
  font-weight: bold;
  margin-right: 50px;
}
.priceDiscountedContainer {
  margin-left: 10px;
  border: 2px solid #333333;
  width: 200px;
  height: 80px;
  border-radius: 5px;
}
.region-selected {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 55px;
  height: 45px;
  font-size: 18px;
  line-height: 43px;
  margin-left: 14px;

  color: white;
  font-weight: bold;
}
.picked {
  border: 2px solid black;
  background-color: #f5f5f5;
}
/*scroll bar*/
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.test {
  background-image: url(/src/resources/rec.svg);
}

/*scroll bar end*/

::selection {
  background-color: rgb(255, 89, 70) !important;
  color: rgb(255, 255, 255) !important;
}
