@media screen and (max-width: 1001px) {
    .timeSection{
        width: 100%;
        margin-bottom: 16px;
    }
}
@media screen and (min-width: 1002px) {
    .timeSection{
        width: 420px;
    }
}

/* timeSection.jsx */
.timeSection {
    background-color: #fffaf0;
    height: 495px;
    position: relative;
    float: left;
    margin-right: 3px;
    /* border: 1px solid #a9a9a9; */
    background: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 1px, rgba(0, 0, 0, 0.03) 0px 2px 5px, rgba(0, 0, 0, 0.04) 0px 3px 7px, rgba(0, 0, 0, 0.04) 0px 7px 10px;
}
.timeSection .head {
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    text-align: center;
    /* color: #e5e3d4; */
    /* background-color: #2c3e50; */
    background: #2A8FB4;
    border-radius: 8px 8px 0px 0px;
    line-height: 30px;
    color: white;
    width: 100%;
}

.time-option {
    font-size: 15px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 20px;
    /* width: 100%; */
}
    .morning {
        margin-right: 15px;        ;
    }
        .sun {
            margin-top: 3px;
            /* color: #a93226; */
            color: #ff0000;
        }
        .moon {
            color: #0000ff;
        }

.timeInfo {
    height: 350px;
    overflow: auto;
    width: 100%;
}
    .placeholder {
        margin-top: 180px;
        text-align: center;
        font-size: 15px;
        color: #666;
    }

/* timeItem.jsx */
.seatSelect {
    cursor: pointer;
    float: left;
    margin-bottom: 20px;
}
.emptySeat {
    position: relative;
    float: left;
    width: 70px;
    margin-top: 6px;
    font-size: 12px;
    color: #519227;
}